body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #17a24f;
  }

  .container {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h1 {
    text-align: center;
  }

  .detalles-carrito div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.detalles-carrito img {
    width: 50px; /* O ajusta según la necesidad */
    height: auto;
    margin-right: 10px; /* Espacio entre la imagen y el texto */
    border-radius: 5px; /* Opcional: para bordes redondeados */
}

.detalles-carrito button {
    margin-left: 10px; /* Espacio entre botones y texto */
    padding: 5px 10px;
}

/* Ajustes adicionales para botones si es necesario */
.detalles-carrito button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


  .Total button{
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  .Total{
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #cbcbcb;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  #payment-form input{
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }