body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #17a24f;
    border-top: black;
  }

  .logo{
    width: 50px;
    height: 50px;
    float: left;
  }
  .btn-admin{
    padding: 0.5rem 1rem;
    float: right;
    box-shadow: 1px 2px 3px;
  }
  .postre {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    margin: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(79, 78, 78);
    color:aliceblue;
    min-width: 100px; 
    min-height: 100px; 
    max-width: 400px;
    max-height: 230px;
    box-sizing: border-box;
    float: left;

  }
  
  .plato {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    overflow: hidden;
   
  }
  
  .plato img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    max-height: 150px;
    
  }
  
  .descripcion {
    margin: 20px;
    text-align: center;
    padding: 5px;
  }
  
  .descripcion h2 {
    margin: 0;
    font-size: 18px;
  }
  
  .descripcion p {
    margin: 10px 0;
    font-size: 16px;
  }
  
  .precio {
    font-weight: bold;
    font-size: 18px;
  }
  
  .agregar-carrito {
    margin-top: 10px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #d8d8d8;
    cursor: pointer;
  }

  .Postre1 {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(79, 78, 78);
    color:aliceblue;
    min-width: 100px; 
    min-height: 100px; 
    max-width: 400px;
    max-height: 230px;
    box-sizing: border-box;
    float: left;
  }

  .Titulo{
    margin: 20px;
    text-align: center;
    padding: 5px;
    color:#ffffff;
    font-family: sans-serif;
    font-weight: bold;
    font-style: italic;
    text-shadow: 2px 2px 2px black,-2px -2px 2px green;
  }
    
  .img-reducida {
    width: 100%; /* La imagen ocupará el 100% del ancho del contenedor */
    height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
    max-width: 100%; /* Asegura que la imagen no se desborde del contenedor */
  }

  .Carrito img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
    max-height: 150px;
  }

  .Carrito a {
    display: inline-block;
    padding: 1px 1px; 
    border: 1px solid #ccc; 
    border-radius: 5px;
    background-color: #f0f0f0;
    text-decoration: none;
  }

  .Carrito a:hover {
    background-color: #e0e0e0;
  }

  .Carrito {
    font-family: sans-serif;
    position: fixed;
    bottom: 0;
    right: 0;
}

.texto{
  text-shadow: 2px 2px 3px  black, -2px -2px 2px white;
  text-align: center;
  font-family: sans-serif;
}
.copyright{
  border: 2px;
  border-color: black;;
  border-style: solid;
  background-color: rgb(0,0,0);
  color: white;
  text-align: center;
  font-family: sans-serif;
  margin-top: 30px;
}

.carrito-lateral {
  width: 200px;
  height: 100%;
  background-color: #f8f9fa;
  padding: 10px;
  box-shadow: -2px 0 5px rgba(0,0,0,0.1);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  transition: right 0.5s;
  overflow-y: scroll;
}

.contenido-carrito {
  position: relative;
}

#mostrar-carrito {
  position: fixed;      /* Posición fija en la página */
  bottom: 20px;         /* 20px desde el borde inferior de la ventana */
  right: 20px;          /* 20px desde el borde derecho de la ventana */
  width: 50px;          /* Ancho del botón */
  height: 50px;         /* Altura del botón */
  background-color: #006a1b;  /* Color de fondo del botón */
  border: none;         /* Sin bordes */
  border-radius: 50%;   /* Bordes redondeados para hacerlo circular */
  cursor: pointer;      /* Cursor en forma de mano al pasar sobre el botón */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);  /* Sombra para un efecto 3D */
  outline: none;        /* Elimina el contorno que aparece al hacer clic */
}

#mostrar-carrito img {
  width: 100%;          /* Hace que la imagen ocupe todo el botón */
  height: auto;         /* Mantiene la proporción de la imagen */
}

.detalles-carrito div {
  padding: 10px;
  margin-bottom: 5px;
  background-color: #f9f9f9;
  border-radius: 5px;
}


.carrito-lateral img{
  height: 30px;
  width: 30px;
}

.disminuir-cantidad, .aumentar-cantidad, .eliminar-producto {
  margin: 0 5px;
  padding: 2px 5px;
  font-size: 12px;
  cursor: pointer;
}

.disminuir-cantidad, .aumentar-cantidad {
  background-color: #f1f1f1;
  color: #333;
}

.eliminar-producto {
  background-color: red;
  color: white;
}

.boton-pagar {
  padding: 12px 20px;
  background-color: #4CAF50; /* Verde */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: block; /* Asegura que el botón se muestre en su propia línea */
  width: 100%; /* Opcional: hace que el botón ocupe toda la anchura del contenedor */
  box-sizing: border-box; /* Incluye el padding en el cálculo del ancho */
  margin-top: 10px; /* Espacio adicional arriba del botón */
}

/* Estilo para cuando el carrito esté visible */
.productos-movidos {
  transform: translateX(-300px); /* Ajusta este valor según el ancho de tu carrito */
  transition: transform 0.3s ease; /* Suaviza la transición */
}

/* Estilos para el carrito visible */
.carrito-visible {
  display: block; /* Asegura que el carrito sea visible */
}

