body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #17a24f;
    border-top: black;
  }
  .postre {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(79, 78, 78);
    color:aliceblue;
    min-width: 100px; 
    min-height: 100px; 
    max-width: 400px;
    max-height: 230px;
    box-sizing: border-box;
    float: left;

  }
  
  .plato {
    width: 150px;
    height: 200px;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .plato img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    max-height: 150px;
    
  }
  
  .descripcion {
    margin: 20px;
    text-align: center;
    padding: 5px;
  }
  
  .descripcion h2 {
    margin: 0;
    font-size: 18px;
  }
  
  .descripcion p {
    margin: 10px 0;
    font-size: 16px;
  }
  
  .precio {
    font-weight: bold;
    font-size: 18px;
  }
  
  .agregar-carrito {
    margin-top: 10px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #d8d8d8;
    cursor: pointer;
  }

  .Postre1 {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(79, 78, 78);
    color:aliceblue;
    min-width: 100px; 
    min-height: 100px; 
    max-width: 400px;
    max-height: 230px;
    box-sizing: border-box;
    float: left;
  }

  .Titulo{
    margin: 20px;
    text-align: center;
    padding: 5px;
    color:#ffffff;
    font-family: sans-serif;
    font-weight: bold;
    font-style: italic;
    text-shadow: 2px 2px 2px black,-2px -2px 2px green;
  }
    
  .img-reducida {
    width: 100%; /* La imagen ocupar치 el 100% del ancho del contenedor */
    height: auto; /* La altura se ajustar치 autom치ticamente para mantener la proporci칩n */
    max-width: 100%; /* Asegura que la imagen no se desborde del contenedor */
  }
